

<ion-content>
  <br />
  <div class="ion-text-center container">

    <ion-img style="width: 300px; height: 250px; float: center;" src="assets/ho-meLogoWhite.png" alt="Logo"></ion-img>

  <br/>
  <br/>
  <br/>
  <br/>

  <ion-item>
    <ion-label color="primary">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary">Password</ion-label>
    <ion-input type="Password"></ion-input>
  </ion-item>

      <br />

      <ion-button color="dark" (click)="login()">Login</ion-button>
      <br />
      <ion-button size="small" (click)="register()">Register</ion-button>
  </div>
</ion-content>

