<ion-app>
  <div class="ion-text-center container">
    <ion-img class="logo" style="width: 200px; height: 150px;" src="assets/ho-meLogoWhite.png" alt="Logo"></ion-img>
  </div>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of rentalHomes">
      <!-- <ion-item class="ion-no-padding ion-text-center" lines="none" *ngFor="let item of rentalHomes"> -->
        <ion-card class="card">
          <ion-card-title class="cardInfo">{{ item.address }}</ion-card-title>
          <br />
          <ion-card-subtitle class="cardInfo">{{ item.rentalHomeType }}</ion-card-subtitle>
          <br />
          <ion-card-content class="cardInfo">
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide>
                    <ion-img [src]="item.image1" alt="slide-1"></ion-img>
              </ion-slide>
              <ion-slide>
                <ion-img [src]="item.image2" alt="slide-2"></ion-img>
              </ion-slide>
              <ion-slide>
                <ion-img [src]="item.image3" alt="slide-3"></ion-img>
              </ion-slide>
            </ion-slides>
          </ion-card-content>
        </ion-card>
          <br />
      <!-- </ion-item> -->
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>

</ion-app>
