<ion-app>
  <div class="ion-text-center container">
    <ion-img class="logo" style="width: 200px; height: 150px;" src="assets/ho-meLogoWhite.png" alt="Logo"></ion-img>
  </div>

  <ion-content>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Item Thumbnail</ion-label>
    </ion-item>

  </ion-content>

</ion-app>
