// ion-content {
//   --background: rgb(65, 65, 65);
// }

// ion-item {
//   --background: rgb(82, 82, 82);
// }

ion-input {
  color: white;
}

ion-img {
  display: block;
  margin: 0 auto;
}

.label {
  color: rgb(230, 227, 227);
}
